@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.type-badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9em;
  text-transform: capitalize;
}

.type-badge.normal {
  background: #A8A878;
}

.type-badge.fire {
  background: #F08030;
}

.type-badge.water {
  background: #6890F0;
}

.type-badge.electric {
  background: #F8D030;
}

.type-badge.grass {
  background: #78C850;
}

.type-badge.ice {
  background: #98D8D8;
}

.type-badge.fighting {
  background: #C03028;
}

.type-badge.poison {
  background: #A040A0;
}

.type-badge.ground {
  background: #E0C068;
}

.type-badge.flying {
  background: #A890F0;
}

.type-badge.psychic {
  background: #F85888;
}

.type-badge.bug {
  background: #A8B820;
}

.type-badge.rock {
  background: #B8A038;
}

.type-badge.ghost {
  background: #705898;
}

.type-badge.dragon {
  background: #7038F8;
}

.type-badge.dark {
  background: #705848;
}

.type-badge.steel {
  background: #B8B8D0;
}

.type-badge.fairy {
  background: #EE99AC;
}